<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="primary-header">
            <div class="container">
                <nav>
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">FAQ</a>
                    <a href="#">Contact us</a>
                </nav>
                <nav>
                    <a href="#"> 
                        <img src="./img/twitter.jpg" alt="">
                    </a>
                    <a href="#"> 
                        <img src="./img/reddit.png" alt="">
                    </a>
                    <a href="#"> 
                        <img src="./img/pinterest.png" alt="">
                    </a>
                </nav>

            </div>
        </div>
        <div class="container">
            <div class="second-header">
                <div class="container-fluid">
                    <a href="#">
                        <img src="./img/user.png">
                        <span>Login</span>
                    </a>
                    <a href="#" class="logo">
                        <img src="./img/logo.png">
                    </a>
                    <a href="#">
                        <img src="./img/phone.png">
                        <span>+7-777-112-23-33</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="third-header">
                <div class="container-fluid">
                    <nav>
                        <a href="#"> politick</a>
                        <a href="#"> sport</a>
                    </nav>
                    <a>
                        <img src="./img/search.png">
                        <span>Search</span>
                    </a>
                </div>
            </div>
        </div>
    </header>


    <main class="container">
        
        <section class="news-block">
            <div class="container-fluid">
                <div class="news-block_content">
                    <h3>All news</h3>
                    <div class="news-block_card">
                        <img src="https://tengrinews.kz/userdata/news/2026/news_593263/thumb_b/photo_536439.jpg.webp"  alt="" class="news-block_img">
                        <div class="news-block_info">
                            <h3>Opening ceremony for frogs in frog town</h3>
                            <span>05.12.2025</span>
                            <a href="#">#category</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis atque esse vitae quis saepe sequi? Nisi, cumque! Aliquid modi nemo iusto officia molestiae voluptate quaerat, eius ipsum numquam debitis quod!</p>
                            <a href="#">READ</a>
                        </div>
                    </div>
                </div>
                <div class="news-block_adv">
                    <h3>Advertising</h3>
                    <div class="news-adv_card">
                        <img src="https://ichef.bbci.co.uk/news/1024/cpsprodpb/00cd/live/51167dd0-0f43-11f1-9610-6bdfe89c38bb.jpg.webp" alt="" class="news-adv_img">
                    </div>
                </div>
            </div>
         
            
        </section>
    </main>

    <footer class="footer">
        <div class="container">
            <a href="#" >
                <img src="./img/logo reverse.png">
            </a>
            <p>&copy; 2026 TOO Frogs news</p>
        </div>
    </footer>
</body>
</html>
